<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
	<link href="node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link href="lib/style.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css"
		  rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="lib/script.js">
	</script>
	<title>Happy Buildings</title>
</head>

<body ng-app="app" ng-controller="MainCtrl">
<div class="container">
	<div class="row"><br></div>
	<div class="row">
		<div class="row">
			<div class="col"></div>

			<!-- Main Interface -->
			<div class="col-10 bg-white rounded p-4 ng-cloak">
				<!-- Navigation Bar -->
				<div class="mb-3" ng-show="loggedIn">
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2 rounded">
						<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
								class="navbar-toggler" data-bs-target="#navbar"
								data-bs-toggle="collapse" type="button">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbar">
							<div class="navbar-nav">
								<a class="nav-link active" id="buildingDirectory"
								   ng-click="useNavBar('buildingDirectory')">Home</a>
								<a class="nav-link" id="myAccount"
								   ng-click="useNavBar('myAccount')">My Account</a>
							</div>
						</div>
					</nav>
				</div>

				<!-- Login Page -->
				<form ng-show="pages['login']" ng-submit="login('buildingDirectory')">
					<h2>Sign In</h2>
					<div class="mb-3">
						<label class="form-label" for="username">Username</label>
						<input class="form-control" id="username" required type="text">
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Password</label>
						<input class="form-control" id="password" required type="password">
					</div>
					<div class="mb-3">
						<a href ng-click="changePage('resetPassword')">Forgot Password?</a>
						<div class="form-text" id="feedback" style="color: red;"></div>
					</div>
					<div class="d-grid gap-2">
						<button class="btn btn-primary" type="submit">Login</button>
					</div>
				</form>

				<!-- Reset Password -->
				<form ng-show="pages['resetPassword']" ng-submit="submit(this.form, 'login')">
					<div class="mb-3">
						<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
								class="bi bi-arrow-left"></i></button>
						<h2>Reset Password</h2>
					</div>
					<div class="mb-3">
						<label class="form-label" for="resetEmail">Email</label>
						<input class="form-control" id="resetEmail" required type="email">
					</div>
					<div class="mb-3">
						<label class="form-label" for="resetPassword">New Password</label>
						<input class="form-control" id="resetPassword" required type="password">
					</div>
					<div class="mb-3">
						<label class="form-label" for="resetPasswordConfirm">Re-Confirm Password</label>
						<input class="form-control" id="resetPasswordConfirm" required type="password">
					</div>
					<div class="d-grid gap-2">
						<button class="btn btn-primary" type="submit">Reset Password</button>
					</div>
				</form>

				<!-- View Account -->
				<form ng-show="pages['viewAccount']">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-primary float-end" ng-click="changePage('createAccount')"
									type="button">
								<i class="bi bi-pencil-square"></i>
							</button>
							<h2>View Account</h2>
						</div>
					</div>
					<div class="mb-3">
						<label class="form-label" for="viewAccountType">Account Type</label>
						<select aria-label="Default select example" class="form-select" disabled
								id="viewAccountType" style="width: 100%;">
							<option disabled selected></option>
							<option value="manager">Manager</option>
							<option value="owner">Owner</option>
							<option value="contractor">Contractor</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label" for="viewFirstName">First Name</label>
						<input class="form-control" id="viewFirstName" readonly type="text">
					</div>
					<div class="mb-3">
						<label class="form-label" for="viewLastName">Last Name</label>
						<input class="form-control" id="viewLastName" readonly type="text">
					</div>
					<div class="mb-3">
						<label class="form-label" for="viewSignupEmail">Email</label>
						<input class="form-control" id="viewSignupEmail" readonly type="email">
					</div>
				</form>

				<!-- View Personal Account -->
				<form ng-show="pages['myAccount']">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-primary float-end" ng-click="changePage('createAccount')"
									type="button">
								<i class="bi bi-pencil-square"></i>
							</button>
							<h2>My Account</h2>
						</div>
					</div>
					<div class="mb-3">
						<label class="form-label" for="viewOwnAccountType">Account Type</label>
						<select aria-label="Default select example" class="form-select" disabled
								id="viewOwnAccountType" ng-model="loggedUser['UserType']" style="width: 100%;">
							<option disabled ng-selected="true" value=null></option>
							<option value="manager">Manager</option>
							<option value="owner">Owner</option>
							<option value="contractor">Contractor</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label" for="viewLoginName">Username</label>
						<input class="form-control" id="viewLoginName" ng-model="loggedUser['LoginName']" readonly
							   type="text">
					</div>
					<div class="d-grid gap-2">
						<button class="btn btn-primary" ng-click="logout('')" type="submit">Sign Out</button>
					</div>
				</form>

				<!-- Building Directory -->
				<div ng-show="pages['buildingDirectory']">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-primary float-end" ng-click="modifyBuilding(true)"
									ng-show="loggedUser['UserType'] === 'manager'"
									type="button"><i class="bi bi-plus-lg"></i>
							</button>
							<h2>Building Directory</h2>
						</div>
					</div>
					<div class="row">
						<div class="mb-3 overflow-auto" style="max-height: 500px">
							<table class="table table-striped table-hover" id="buildings">
								<thead class="table-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Owner</th>
									<th scope="col">Address</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="building in buildings | orderBy:toNumber:false">
									<td><a href ng-click="viewBuilding(building)">{{building.ID}}</a></td>
									<td><a href ng-click="changePage('viewAccount')">{{building.Owner}}</a></td>
									<td><a href ng-click="viewBuilding(building)">{{building.Address}}</a></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!-- View Building -->
				<div ng-show="pages['viewBuilding']">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-primary float-end" ng-click="modifyBuilding(false)"
									ng-show="loggedUser['UserType'] === 'manager'"
									type="button">
								<i class="bi bi-pencil-square"></i>
							</button>
							<h2>{{selectedBuilding['Address']}}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label" for="buildingID">ID</label>
								<input class="form-control" id="buildingID" ng-model="selectedBuilding['ID']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="buildingOwner">Owner</label>
								<input class="form-control" id="buildingOwner" ng-model="selectedBuilding['Owner']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="type">Building Type</label>
								<select aria-label="Default select example" class="form-select" disabled
										id="type" ng-model="selectedBuilding['BuildingType']"
										style="width: 100%;">
									<option disabled ng-selected="true" value=null></option>
									<option value="Residential">Residential</option>
									<option value="Commercial">Commercial</option>
									<option value="Industrial">Industrial</option>
									<option value="Institutional">Institutional</option>
								</select>
							</div>
							<div class="mb-3">
								<label class="form-label" for="constructionDate">Date of Construction</label>
								<input class="form-control" id="constructionDate" ng-model="selectedBuilding['ConstructionDate']"
									   readonly type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3 overflow-auto" style="max-height: 330px;">
								<table class="table table-striped table-hover">
									<thead>
									<tr>
										<th scope="col">Projects</th>
										<th scope="col">Status</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="project in projects[selectedBuilding['ID']]">
										<td><a href ng-click="viewProject(project)">{{project.Name}}</a></td>
										<td>{{project.Status}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Create Building -->
				<form ng-show="pages['createBuilding']" ng-submit="submitBuilding('editBuilding', true)">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<h2>Create Building</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md">
							<div class="mb-3">
								<label class="form-label" for="create-buildingID">ID</label>
								<input class="form-control" id="create-buildingID" ng-model="buildingID" readonly
									   type="number">
							</div>
							<div class="mb-3">
								<label class="form-label" for="create-owner">Owner</label>
								<input class="form-control" id="create-owner" required type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="create-address">Building Address</label>
								<input class="form-control" id="create-address" required type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="create-buildingType">Building Type</label>
								<select aria-label="Default select example" class="form-select" id="create-buildingType"
										required style="width: 100%;">
									<option disabled selected value=null></option>
									<option value="Residential">Residential</option>
									<option value="Commercial">Commercial</option>
									<option value="Industrial">Industrial</option>
									<option value="Institutional">Institutional</option>
								</select>
							</div>
							<div class="mb-3">
								<label class="form-label" for="create-date">Date of Construction</label>
								<input class="form-control" id="create-date" required type="datetime-local">
							</div>
						</div>
					</div>
					<div class="d-grid gap-2">
						<div class="form-text" id="createBuildingFeedback" style="color: red;"></div>
						<button class="btn btn-primary" type="submit">Create</button>
					</div>
				</form>

				<!-- Edit Building -->
				<form ng-show="pages['editBuilding']" ng-submit="submitBuilding('viewBuilding', false)">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<h2>Edit Building</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label" for="ID">ID</label>
								<input class="form-control" id="ID" ng-model="buildingID" readonly type="number">
							</div>
							<div class="mb-3">
								<label class="form-label" for="owner">Owner</label>
								<input class="form-control" id="owner" ng-model="selectedBuilding['Owner']" required
									   type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="address">Building Address</label>
								<input class="form-control" id="address" ng-model="selectedBuilding['Address']"
									   required type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="buildingType">Building Type</label>
								<select aria-label="Default select example" class="form-select" id="buildingType"
										ng-model="selectedBuilding['BuildingType']" style="width: 100%;">
									<option disabled ng-selected="true" value=null></option>
									<option value="Residential">Residential</option>
									<option value="Commercial">Commercial</option>
									<option value="Industrial">Industrial</option>
									<option value="Institutional">Institutional</option>
								</select>
							</div>
							<div class="mb-3">
								<label class="form-label" for="date">Date of Construction</label>
								<input class="form-control" id="date" ng-model="selectedBuilding['ConstructionDate']"
									   required type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<table class="table table-striped table-hover">
									<thead>
									<tr>
										<th scope="col">Project</th>
										<th scope="col">Status</th>
										<th scope="col">
											<button class="btn btn-primary" ng-click="modifyProject(true)"
													type="button"><i class="bi bi-plus-lg"></i>
											</button>
										</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="project in projects[selectedBuilding['ID']]">
										<td><a href ng-click="viewProject(project, false)">{{project.Name}}</a></td>
										<td>{{project.Status}}</td>
										<td>
											<button class="btn btn-primary" ng-click="viewProject(project, true)"
													type="button"><i
													class="bi bi-pencil-square"></i>
											</button>
											<button class="btn btn-danger" ng-click="deleteProject(project)"
													type="button"><i class="bi bi-trash"></i>
											</button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="d-grid gap-2">
							<div class="form-text" id="buildingFeedback" style="color: red;"></div>
							<button class="btn btn-primary" type="submit">Save</button>
						</div>
					</div>
				</form>

				<!-- View Project -->
				<div class="mb-3" ng-show="pages['viewProject']">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-primary float-end" ng-click="modifyProject(false)"
									ng-show="loggedUser['UserType'] === 'manager'"
									type="button">
								<i class="bi bi-pencil-square"></i>
							</button>
							<h2>{{selectedProject['Name']}}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label" for="projectID">ID</label>
								<input class="form-control" id="projectID" ng-model="selectedProject['ProjectID']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="readProjectStatus">Project Status</label>
								<select aria-label="Default select example" class="form-select" disabled
										id="readProjectStatus" ng-model="selectedProject['Status']"
										style="width: 100%;">
									<option disabled ng-selected="true" value="null"></option>
									<option value="unscheduled">Unscheduled</option>
									<option value="scheduled">Scheduled</option>
									<option value="current">Current</option>
									<option value="closed">Closed</option>
								</select>
							</div>
							<div class="mb-3">
								<label class="form-label" for="readStartDate">Project Start Date</label>
								<input class="form-control" id="readStartDate" ng-model="selectedProject['StartDate']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="readFinishDate">Project Finish Date</label>
								<input class="form-control" id="readFinishDate" ng-model="selectedProject['EndDate']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="contactPerson">Contact Person</label>
								<input class="form-control" id="contactPerson" ng-model="selectedProject['ContactPerson']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="projectManager">Project Manager</label>
								<input class="form-control" id="projectManager" ng-model="selectedProject['ProjectManager']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="contractor">Contractor</label>
								<input class="form-control" id="contractor" ng-model="selectedProject['Contractor']"
									   readonly type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3 overflow-auto" style="max-height: 340px;">
								<table class="table table-striped table-hover">
									<thead>
									<tr>
										<th scope="col">Work</th>
										<th scope="col">Status</th>
										<th scope="col">
											<button class="btn btn-primary" ng-click="modifyWork()"
													type="button"><i class="bi bi-plus-lg"></i>
											</button>
										</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="work in selectedProject['Works']">
										<td>{{work['TypeOfWork']}}</td>
										<td>{{work['Status']}}</td>
										<td>
											<button class="btn btn-primary" ng-click="modifyWork(work)"
													type="button"><i
													class="bi bi-pencil-square"></i>
											</button>
											<button class="btn btn-danger" ng-click="deleteWork(work)" type="button"><i
													class="bi bi-trash"></i>
											</button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="d-grid gap-2">
							<div class="mb-3 overflow-auto" style="max-height: 200px">
								<table class="table" id="readComments">
									<thead>
									<tr>
										<th scope="col">Comment</th>
										<th scope="col">Author</th>
										<th scope="col">
											<button class="btn btn-primary" ng-click="modifyComment()"
													type="button"><i class="bi bi-plus-lg"></i>
											</button>
										</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="comment in selectedProject['Comments']">
										<td>{{comment['Text']}}</td>
										<td><a href ng-click="changePage('viewAccount')">{{comment['Author']}}</a></td>
										<td>
											<button class="btn btn-primary" ng-click="modifyComment(comment)"
													type="button">
												<i class="bi bi-pencil-square"></i>
											</button>
											<button class="btn btn-danger" ng-click="deleteComment(comment)"
													type="button"><i class="bi bi-trash"></i>
											</button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<button class="btn btn-primary" ng-click="changePage('viewBuilding')" type="submit">Done
							</button>
						</div>
					</div>
				</div>

				<!-- Create Project -->
				<form ng-show="pages['createProject']" ng-submit="submitProject('viewProject', true)">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<h2>Create Project</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md">
							<div class="mb-3">
								<label class="form-label" for="create-projectID">Project ID</label>
								<input class="form-control" id="create-projectID" ng-model="projectID"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="create-projectName">Project Name</label>
								<input class="form-control" id="create-projectName" required type="text">
							</div>
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="create-contactPerson">Contact Person</label>
										<input class="form-control" id="create-contactPerson" required type="text">
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="create-projectManager">Project Manager</label>
										<input class="form-control" id="create-projectManager" required type="text">
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="create-contractor">Contractor</label>
										<input class="form-control" id="create-contractor" required type="text">
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label class="form-label" for="create-projectStatus">Project Status</label>
								<select aria-label="Default select example" class="form-select" id="create-projectStatus"
										required style="width: 100%;">
									<option disabled selected value="null"></option>
									<option value="unscheduled">Unscheduled</option>
									<option value="scheduled">Scheduled</option>
									<option value="current">Current</option>
									<option value="closed">Closed</option>
								</select>
							</div>
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="create-startDate">Project Start Date</label>
										<input class="form-control" id="create-startDate" required type="date">
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="create-endDate">Project Finish Date</label>
										<input class="form-control" id="create-endDate" type="date">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-grid gap-2">
						<button class="btn btn-primary" type="submit">Create</button>
					</div>
				</form>

				<!-- Edit Project -->
				<form ng-show="pages['editProject']" ng-submit="submitProject('viewProject', false)">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-danger float-end" ng-click="deleteProject(selectedProject)"
									type="button"><i class="bi bi-trash"></i></button>
							<h2>Edit Project</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md">
							<div class="mb-3">
								<label class="form-label" for="edit-projectID">Project ID</label>
								<input class="form-control" id="edit-projectID" ng-model="selectedProject['ProjectID']"
									   readonly type="text">
							</div>
							<div class="mb-3">
								<label class="form-label" for="edit-projectName">Project Name</label>
								<input class="form-control" id="edit-projectName" ng-model="selectedProject['Name']"
									   required type="text">
							</div>
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="edit-contactPerson">Contact Person</label>
										<input class="form-control" id="edit-contactPerson" ng-model="selectedProject['ContactPerson']"
											   required type="text">
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="edit-projectManager">Project Manager</label>
										<input class="form-control" id="edit-projectManager" ng-model="selectedProject['ProjectManager']"
											   required type="text">
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="edit-contractor">Contractor</label>
										<input class="form-control" id="edit-contractor" ng-model="selectedProject['Contractor']"
											   required type="text">
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label class="form-label" for="edit-projectStatus">Project Status</label>
								<select aria-label="Default select example" class="form-select" id="edit-projectStatus"
										ng-model="selectedProject['Status']" required
										style="width: 100%;">
									<option disabled ng-selected="true" value="null"></option>
									<option value="unscheduled">Unscheduled</option>
									<option value="scheduled">Scheduled</option>
									<option value="current">Current</option>
									<option value="closed">Closed</option>
								</select>
							</div>
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="edit-startDate">Project Start Date</label>
										<input class="form-control" id="edit-startDate" ng-model="selectedProject['StartDate']"
											   required type="text">
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="edit-endDate">Project Finish Date</label>
										<input class="form-control" id="edit-endDate" ng-model="selectedProject['EndDate']"
											   type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="submit">Save</button>
						</div>
					</div>
				</form>

				<!-- Create/Edit Task -->
				<form ng-show="pages['createWork']" ng-submit="submitWork('viewProject', workTitle === 'Create')">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-danger float-end" ng-click="deleteWork()" ng-show="workTitle === 'Edit'"
									type="button"><i class="bi bi-trash"></i></button>
							<h2>{{workTitle + " " + "Work"}}</h2>
						</div>
					</div>
					<div class="row">
						<div class="mb-3">
							<label class="form-label" for="workType">Work Description</label>
							<textarea class="form-control" id="workType" ng-model="selectedWork['TypeOfWork']" required
									  rows="2"></textarea>
						</div>
						<div class="mb-3">
							<label class="form-label" for="status">Status</label>
							<select aria-label="Default select example" class="form-select" id="status"
									ng-model="selectedWork['Status']" required style="width: 100%;">
								<option disabled ng-selected='true' value="null"></option>
								<option value="done">Done</option>
								<option value="on-going">On-going</option>
								<option value="scheduled">Scheduled</option>
								<option value="cancelled">Cancelled</option>
							</select>
						</div>
						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="submit">{{workTitle}}</button>
						</div>
					</div>
				</form>

				<!-- Create/Edit Comment -->
				<form ng-show="pages['createComment']"
					  ng-submit="submitComment('viewProject', commentTitle === 'Create')">
					<div class="row">
						<div class="mb-3">
							<button class="btn btn-outline-primary float-start" ng-click="goBack()" type="button"><i
									class="bi bi-arrow-left"></i></button>
							<button class="btn btn-danger float-end" ng-click="deleteComment()" ng-show="commentTitle === 'Edit'"
									type="button"><i class="bi bi-trash"></i></button>
							<h2>{{commentTitle + " " + "Comment"}}</h2>
						</div>
					</div>
					<div class="row">
						<div class="mb-3">
							<label class="form-label" for="comment">Comment</label>
							<textarea class="form-control" id="comment" ng-model="selectedComment['Text']"
									  rows="3"></textarea>
						</div>
						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="submit">{{commentTitle}}</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>
</body>
</html>