<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="lib/script.js"></script>
    <title>Happy Buildings</title>
</head>

<body ng-app="app" ng-controller="MainCtrl">
<div class="container">
    <div class="row"><br></div>
    <div class="row">
        <div class="col"></div>

        <!-- Main Interface -->
        <div class="col-10 bg-white rounded p-4" >
            <!-- Navigation Bar -->
            <div class="mb-3" ng-show="loggedIn">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2 rounded">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" id="nav-signOut" ng-click="logout()">Sign Out</a>
                            <a class="nav-link" id="nav-signUp" ng-click="changePage('createAccount')">Create Account</a>
                            <a class="nav-link active" id="nav-buildingDirectory" ng-click="changePage('buildingDirectory')">Building Directory</a>
                            <a class="nav-link" id="nav-createTask" ng-click="changePage('createTask')">Create Task</a>
                            <a class="nav-link" id="nav-createProject" ng-click="changePage('createProject')">Create Project</a>
                            <a class="nav-link" id="nav-createBuilding" ng-click="changePage('createBuilding')">Create Building</a>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- Login Page -->
            <form ng-show="pages['login']" ng-submit="login('buildingDirectory')">
                <h2>Sign In</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <a href="">Forgot Password?</a>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

            <!-- Reset Password -->


            <!-- Building Directory -->
            <form ng-show="pages['buildingDirectory']">
                <div class="row">
                    <div class="col-10">
                        <h2>Building Directory</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 overflow-auto" style="max-height: 500px">
                        <table class="table table-striped table-hover" id="buildings">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">Owner(s)</th>
                                <th scope="col">Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Ryan Hayes</td>
                                <td><a href ng-click="">19 Boulcott Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            <tr>
                                <td>Hannah Brown</td>
                                <td><a href ng-click="">23 Cuba Street</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

            <!-- View Building -->


            <!-- Create/Edit Building -->
            <form ng-show="pages['createBuilding']">
                <div class="row">
                    <div class="col-10">
                        <h2>Create Building</h2>
                    </div>
                    <div class="col">
                        <button type="reset" class="btn btn-primary float-end">X</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="name" class="form-label">Building Name</label>
                            <input type="text" id="name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Building Address</label>
                            <input type="text" id="address" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="buildingType" class="form-label">Building Type</label>
                            <select class="form-select" id="buildingType" aria-label="Default select example" required>
                                <option selected disabled></option>
                                <option value="residential">Residential</option>
                                <option value="commercial">Commercial</option>
                                <option value="industrial">Industrial</option>
                                <option value="institutional">Institutional</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date of Construction</label>
                            <input type="date" id="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="mb-3">
                            <label for="owner" class="form-label">Owner(s)</label>
                            <select class="form-select" id="owner" aria-label="Default select example" required>
                                <option selected disabled></option>
                                <option data-tokens="bobS">Bob Smith</option>
                                <option data-tokens="rickyH">Ricky Henare</option>
                                <option data-tokens="trishB">Trish Brown</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Projects</label>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Project</th>
                                    <th scope="col">Completed</th>
                                    <th scope="col">Action
                                        <button type="button" class="btn btn-primary">+</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="project.html">Scaffolding</a></td>
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="project.html">Electricity</a></td>
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="project.html">Plumbing</a></td>
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>

            <!-- View Project -->


            <!-- Create/Edit Project -->
            <form ng-show="pages['createProject']">
                <div class="row">
                    <div class="col-10">
                        <h2>Create Project</h2>
                    </div>
                    <div class="col">
                        <button type="reset" class="btn btn-primary float-end">X</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="projectName" class="form-label">Project Name</label>
                            <input type="text" id="projectName" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="buildingType" class="form-label">Project Status</label>
                            <select class="form-select" id="projectStatus" aria-label="Default select example" required>
                                <option selected disabled></option>
                                <option value="unscheduled">Unscheduled</option>
                                <option value="scheduled">Scheduled</option>
                                <option value="current">Current</option>
                                <option value="closed">Closed</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Project Start Date</label>
                            <input type="date" id="startDate" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="finishDate" class="form-label">Project Finish Date</label>
                            <input type="date" id="finishDate" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="owner" class="form-label">Contractors(s)</label>
                            <select class="form-select" id="contractors" aria-label="Default select example" required>
                                <option selected disabled></option>
                                <option data-tokens="bobS">Bob Smith</option>
                                <option data-tokens="rickyH">Ricky Henare</option>
                                <option data-tokens="trishB">Trish Brown</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="col">
                            <label class="form-label">Works</label>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Work</th>
                                    <th scope="col">Completed</th>
                                    <th scope="col">Action
                                        <button type="button" class="btn btn-primary">+</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="project.html">Scaffolding</a></td>
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="project.html">Electricity</a></td>
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="project.html">Plumbing</a></td>
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <label class="form-label">Comments</label>
                        <div class="mb-3 overflow-auto" style="max-height: 200px">
                            <table class="table" id="comments">
                                <thead>
                                <tr>
                                    <th scope="col">Comment</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Action
                                        <button type="button" class="btn btn-primary">+</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Missing Compliance Sheet</td>
                                    <td><a href="signup.html">Ryan Hayes</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Missing Compliance Sheet</td>
                                    <td><a href="signup.html">Ryan Hayes</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Missing Compliance Sheet</td>
                                    <td><a href="signup.html">Ryan Hayes</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Missing Compliance Sheet</td>
                                    <td><a href="signup.html">Ryan Hayes</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Missing Compliance Sheet</td>
                                    <td><a href="signup.html">Ryan Hayes</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Missing Compliance Sheet</td>
                                    <td><a href="signup.html">Ryan Hayes</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary">-</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>

            <!-- View Task -->


            <!-- Create/Edit Task -->
            <form ng-show="pages['createTask']">
                <div class="row">
                    <div class="col-10">
                        <h2>Create Work Task</h2>
                    </div>
                    <div class="col">
                        <button type="reset" class="btn btn-primary float-end">X</button>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="worktype" class="form-label">Type of Work</label>
                        <input type="text" id="worktype" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" id="status" aria-label="Default select example" required>
                            <option selected disabled></option>
                            <option value="done">Done</option>
                            <option value="on-going">On-going</option>
                            <option value="shceduled">Scheduled</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="assign" class="form-label">Assigned Project</label>
                        <select class="form-select" id="assign" aria-label="Default select example" required>
                            <option selected disabled></option>
                            <option value="heating">Heating</option>
                            <option value="plumbing">Plumbing</option>
                            <option value="concrete">Concrete</option>
                            <option value="electricity">Electricity</option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>

            <!-- Create/Edit Comment -->


            <!-- View Account -->


            <!-- Create/Edit Account -->
            <form ng-show="pages['createAccount']">
                <div class="row">
                    <div class="col-10">
                        <h2>Create Account</h2>
                    </div>
                    <div class="col">
                        <button type="reset" class="btn btn-primary float-end">X</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="accountType" class="form-label">Account Type</label>
                    <select class="form-select" id="accountType" aria-label="Default select example" required>
                        <option selected disabled></option>
                        <option value="manager">Manager</option>
                        <option value="owner">Owner</option>
                        <option value="contractor">Contractor</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" id="firstname" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" id="lastname" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="signup-email" class="form-label">Email</label>
                    <input type="email" id="signup-email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="signup-password" class="form-label">Password</label>
                    <input type="password" id="signup-password" class="form-control" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>

        </div>
        <div class="col"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


